<div class="container">
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/admin/add-product" method="post" role="form" enctype="multipart/form-data">
                <legend style="text-align: center;">Add Products</legend>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name">
                </div><br>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="category">
                </div><br>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="price">
                </div><br>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description">
                </div><br>

                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" class="form-control" name="Image">
                </div><br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>