<div class="container">
    <div class="row mt-5" style="margin: 0 auto; width:50%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/login" method="post" role="form" enctype="">
                <legend style="text-align: center;" class="mb-4">Login</legend>
                {{#if loginErr}}
                <p class="error" style="color: red;">{{loginErr}}</p>
                {{/if}}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div><br>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div><br>
                <a href="/signup" style="float: left; text-decoration:none ;">Create new account ?</a>
                <button type="submit" class="btn btn-primary" style="float: right;">Login</button>
            </form>
        </div>
    </div>
</div>