<div class="container">
    <form class="row g-3 mt-5">
        <h1>Enter Delivery Details</h1>
        <div class="col-md-6">
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div>
                <label for="inputState" class="form-label">State</label>
                <input type="text" class="form-control" id="inputState">
            </div>
            <div>
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div>
                <label for="inputPincode" class="form-label">Pin Code</label>
                <input type="text" class="form-control" id="inputPincode">
            </div>
            <div>
                <label for="inputNumber" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="inputNumber">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="card" style="width: 20rem; height: 20rem;" >
                <div class="card-body">
                    <h5 class="card-title">Total Amount : Rs. {{total}}</h5>
                    <hr>
                    <p class="card-text">Payment method</p>
                    <div class="form-control">
                        <input type="radio" name="method">
                        <label for="cash_on_delivery">Cash On Delivery</label><br><br>
                        <input type="radio" name="method">
                        <label for="online_payment">Online Payment</label>
                    </div>
                </div>
                <div class="col-md-4 mx-auto mb-4">
                    <button type="submit" class="btn btn-success">Check Out</button>
                </div>
            </div>
        </div>
    </form>
</div>